@page "/"
@using ProductPricingUI.Models

<PageTitle>Product Pricing</PageTitle>

@if (isLoading)
{
    <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" AriaLabel="Loading progress" />
}
else if (products is not null)
{
    <ProductList Products="@products" />
}
else if (errorMessage is not null)
{
    <p class="text-danger">@errorMessage</p>
}
